<h1>Listing pregunta</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Asignatura</th>
      <th>Etiquetas</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pregunta.each do |preguntum| %>
      <tr>
        <td><%= preguntum.titulo %></td>
        <td><%= preguntum.asignatura_id %></td>
        <td><%= preguntum.etiquetas %></td>
        <td><%= link_to 'Show', preguntum %></td>
        <td><%= link_to 'Edit', edit_preguntum_path(preguntum) %></td>
        <td><%= link_to 'Destroy', preguntum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preguntum', new_preguntum_path %>
