<% content_for :menu do %>
  <%= link_to 'Editar Pregunta', edit_preguntum_path(@preguntum), :class => 'btn btn-primary' %>
  <%= link_to 'Detalles de Asignatura', @preguntum.asignatura, :class => 'btn btn-primary' %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @preguntum.titulo %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @preguntum.asignatura_id %>
</p>

<p>
  <strong>Etiquetas:</strong>
  <%= @preguntum.etiquetas %>
</p>

