<% content_for :menu do %>
  <%= link_to 'Editar Pregunta', edit_preguntum_path(@preguntum), :class => 'btn btn-primary' %>
  <%= link_to 'Detalles de Asignatura', @preguntum.asignatura, :class => 'btn btn-primary' %>
  <%= link_to 'Nueva Opcion', nueva_opcion_path(@preguntum), :class => 'btn btn-primary'%>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @preguntum.titulo %>
</p>

<p>
  <strong>Asignatura:</strong>
  <%= @preguntum.asignatura.nombre_largo %>
</p>

<p>
  <strong>Etiquetas:</strong>
  <%= @preguntum.etiquetas %>
</p>

<h4>Listando Opciones</h4>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Correcta</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @preguntum.opcions.each do |opcion| %>
      <tr>
        <td><%= opcion.titulo %></td>
        <td><%= opcion.right %></td>
        <td>
          <%= link_to 'Show', opcion, :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_opcion_path(opcion), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', opcion, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

