<%= form_for(@preguntum) do |f| %>
  <% if @preguntum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preguntum.errors.count, "error") %> prohibited this preguntum from being saved:</h2>

      <ul>
      <% @preguntum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_area :titulo %>
  </div>
  <div class="field">
    <%= f.label :asignatura_id %><br>
    <%= f.number_field :asignatura_id %>
  </div>
  <div class="field">
    <%= f.label :etiquetas %><br>
    <%= f.text_field :etiquetas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
