<% content_for :menu do %>
  <%= link_to 'Nueva Asignatura', new_asignatura_path, :class => 'btn btn-primary' %>
<% end %>

<h1>Listing asignaturas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre corto</th>
      <th>Nombre largo</th>
      <th>Descripcion</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @asignaturas.each do |asignatura| %>
      <tr>
        <td><%= asignatura.nombre_corto %></td>
        <td><%= asignatura.nombre_largo %></td>
        <td><%= asignatura.descripcion %></td>
        <td>
          <%= link_to 'Show', asignatura %>
          <%= link_to 'Edit', edit_asignatura_path(asignatura) %>
          <%= link_to 'Destroy', asignatura, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

