<% content_for :menu do %>
  <%= link_to 'Nueva Asignatura', new_asignatura_path, :class => 'btn btn-primary' %>
<% end %>

<h1>Asignaturas</h1>

<ul class="thumbnails">
<% @asignaturas.each do |asignatura| %>
  <li class="span4">
    <div class="thumbnail">
      <h4> <%= link_to asignatura.nombre_compuesto, asignatura, :class => 'link' %> </h4>
      <% for etiqueta in asignatura.listado_de_etiquetas %>
        <span class="label"><%= etiqueta %></span>
      <% end %> <br>
      Preguntas: <%= asignatura.pregunta.count %> <br>
      Examenes: <%= asignatura.examen.count %> <br>
      Estudiantes: <%= asignatura.listado.estudiantes.split.length %>
      <p> <%= asignatura.descripcion %> </p>
      <%= link_to 'Editar', edit_asignatura_path(asignatura), :class => 'btn btn-mini btn-primary' %>
      <%= link_to 'Eliminar', asignatura, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'%>
    </div>
  </li>
<% end %>
</ul>
