<% content_for :menu do %>
  <%= link_to 'Editar', edit_asignatura_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Agregar Pregunta', nueva_pregunta_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Crear Examen', nuevo_examen_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Estudiantes', edit_listado_path(@asignatura.listado), :class => 'btn btn-primary' %>
<% end %>

<% content_for :sidebar do %>
  <div class="well sidebar">
    <%= @asignatura.listado.estudiantes.html_safe %>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<h4>Detalles</h4>

<p>
  <strong>Nombre corto:</strong>
  <%= @asignatura.nombre_corto %>
</p>

<p>
  <strong>Nombre largo:</strong>
  <%= @asignatura.nombre_largo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @asignatura.descripcion %>
</p>

<hr>

<h4>Listado de pregunta</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="80%">Datos</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @asignatura.pregunta.each do |preguntum| %>
      <tr>
        <td>
          <b>Titulo: </b> <%= preguntum.titulo %> <br>
          <b>Opciones:</b> <%= preguntum.opcions.count %> <br>
          <b>Etiquetas:</b>
          <% for etiqueta in preguntum.listado_de_etiquetas %>
            <span class="label"><%= etiqueta %></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Editar', preguntum, :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', preguntum, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h4>Listado de examenes</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="80%">Datos</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @asignatura.examen.each do |examan| %>
      <tr>
        <td>
          <b>Nombre: </b> <%= examan.nombre %> <br>
          <b>Preguntas: </b> <%= examan.pregunta.count %> <br>
          <b>A Generar: </b> <%= examan.cantidad %> <br>
          <b>Etiquetas: </b>
          <% for etiqueta in examan.listado_de_etiquetas %>
            <span class="label"><%= etiqueta %></span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Editar', edit_examan_path(examan), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', examan, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

