<% content_for :menu do %>
  <%= link_to 'Editar Asignatura', edit_asignatura_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Listado de Asignaturas', asignaturas_path, :class => 'btn btn-primary' %>
  <%= link_to 'Agregar Pregunta', nueva_pregunta_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Crear Examen', '#', :class => 'btn btn-primary' %>
  <%= link_to 'Entrar Listado de Estudiantes', '#', :class => 'btn btn-primary' %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre corto:</strong>
  <%= @asignatura.nombre_corto %>
</p>

<p>
  <strong>Nombre largo:</strong>
  <%= @asignatura.nombre_largo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @asignatura.descripcion %>
</p>

<h4>Listing pregunta</h4>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Etiquetas</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @asignatura.pregunta.each do |preguntum| %>
      <tr>
        <td><%= preguntum.titulo %></td>
        <td><%= preguntum.listado_de_etiquetas.count %></td>
        <td>
          <%= link_to 'Show', preguntum, :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_preguntum_path(preguntum), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', preguntum, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

