<% content_for :menu do %>
  <%= link_to 'Editar Asignatura', edit_asignatura_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Listado de Asignaturas', asignaturas_path, :class => 'btn btn-primary' %>
  <%= link_to 'Agregar Pregunta', nueva_pregunta_path(@asignatura), :class => 'btn btn-primary' %>
  <%= link_to 'Crear Examen', '#', :class => 'btn btn-primary' %>
  <%= link_to 'Entrar Listado de Estudiantes', '#', :class => 'btn btn-primary' %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre corto:</strong>
  <%= @asignatura.nombre_corto %>
</p>

<p>
  <strong>Nombre largo:</strong>
  <%= @asignatura.nombre_largo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @asignatura.descripcion %>
</p>

