<p id="notice"><%= notice %></p>

<p>
  <strong>Asignatura:</strong>
  <%= @listado.asignatura_id %>
</p>

<p>
  <strong>Estudiantes:</strong>
  <%= @listado.estudiantes %>
</p>

<%= link_to 'Edit', edit_listado_path(@listado) %> |
<%= link_to 'Back', listados_path %>
