<%= form_for(@listado, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @listado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listado.errors.count, "error") %> prohibited this listado from being saved:</h2>

      <ul>
      <% @listado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :estudiantes, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :estudiantes, :rows => 20, :class => :span4 %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.hidden_field :asignatura_id %>
    <%= f.submit %>
  </div>
<% end %>
