<%= form_for(@opcion, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @opcion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opcion.errors.count, "error") %> prohibited this opcion from being saved:</h2>

      <ul>
      <% @opcion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :titulo %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :correcta?, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :right %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :preguntum_id %>
    <%= f.submit %>
  </div>
<% end %>
