<%= form_for(@asignatura, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @asignatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asignatura.errors.count, 'error') %> prohibited this asignatura from being saved:</h2>

      <ul>
      <% @asignatura.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :nombre_corto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_corto %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :nombre_largo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombre_largo %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :etiquetas, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :etiquetas %> (separadas por coma)
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :descripción, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcion %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
