<%= form_for(@examan, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @examan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examan.errors.count, "error") %> prohibited this examan from being saved:</h2>

      <ul>
      <% @examan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :nombre, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :nombre %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :etiquetas, :class => 'control-label' %>
    <div class="controls">
      <% for etiq in @asignatura.listado_de_etiquetas %>
        <%= check_box_tag "etiqueta_#{etiq}", 1, @examan.listado_de_etiquetas.include?(etiq) %> <%= etiq %> &nbsp; &nbsp;
      <% end %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :directorio, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :directorio %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :cantidad, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :cantidad %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :asignatura_id %>
    <%= f.submit %>
  </div>
<% end %>
