<%= form_for(@preguntum, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @preguntum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preguntum.errors.count, 'error') %> prohibited this preguntum from being saved:</h2>

      <ul>
      <% @preguntum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :titulo %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :etiquetas, :class => 'control-label' %>
    <div class="controls">
      <% for etiq in @asignatura.listado_de_etiquetas %>
        <%= check_box_tag "etiqueta_#{etiq}", 1, @preguntum.listado_de_etiquetas.include?(etiq) %> <%= etiq %> &nbsp; &nbsp;
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :asignatura_id %>
    <%= f.submit %>
  </div>
<% end %>
