<% content_for :menu do %>
  <%= link_to 'Detalles de Asignatura', @preguntum.asignatura, :class => 'btn btn-primary' %>
<% end %>

<p id="notice"><%= notice %></p>

<%= form_for(@preguntum, :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @preguntum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@preguntum.errors.count, "error") %> prohibited this preguntum from being saved:</h2>

      <ul>
      <% @preguntum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :texto, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :titulo, :class => :span6, :rows => 5 %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :etiquetas, :class => 'control-label' %>
    <div class="controls">
      <% for etiq in @preguntum.asignatura.listado_de_etiquetas %>
        <%= check_box_tag "etiqueta_#{etiq}", 1, @preguntum.listado_de_etiquetas.include?(etiq) %> <%= etiq %> &nbsp; &nbsp;
      <% end %>
    </div>
  </div>

  <div class="field control-group">
    <%= f.label :multiple, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :multiple %> (marque esto si la pregunta es de seleccion multiple)
    </div>
  </div>

  <div class="field control-group">
    <label class="control-label">Opciones</label>
    <div class="controls">
      <%# TODO: mostrar un warning si no es multiple y hay mas de uno seleccionado%>
    <% @preguntum.opcions.each do |opcion| %>
      <label class="checkbox">
        <%= check_box_tag "option_#{opcion.id}_check", 1, opcion.right %>
        <%= text_field_tag "option_#{opcion.id}_text", opcion.titulo, :class => :span5 %>
        <%= link_to 'Destroy', opcion, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
      </label>
    <% end %>
      <%= check_box_tag :option_new_check, 1, false  %>
      <%= text_field_tag :option_new_text, '', :class => :span5, :placeholder => 'Texto de la opción' %>
      <%= f.submit 'Adicionar', :class => 'btn btn-mini btn-success', :name => 'add' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.hidden_field :asignatura_id %>
    <%= f.submit "Guardar Cambios", :name => 'submit' %>
  </div>
<% end %>

